<footer class="section footer">
      <div class="container footer_container">
        <div class="footer_logo-with-text">
          <a href="#" class="footer_logo-link">
            <svg class="icon-logo" width="16" height="16">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
            <svg class="icon-GreenHarvest" width="168" height="15">
              <use href="./img/icons.svg#icon-GreenHarvest"></use>
            </svg>
          </a>
          <p class="footer-paragraph">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </div>
        <div class="nav-and-address_container">
          <ul class="nav_footer-list">
            <li class="nav_footer-item"><a href="index.html#how-it-works-id" class="nav_footer-link">how it works</a></li>
            <li class="nav_footer-item"><a href="index.html#vegetables" class="nav_footer-link">vegetables</a></li>
            <li class="nav_footer-item"><a href="index.html#section-rewiew" class="nav_footer-link">reviews</a></li>
          </ul>
          <address class="footer_address">
          <ul class="footer_address-list">
            <li class="footer_address-item">
              <a href="tel:+380684439426" class="footer_address-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer_address-item">
              <a
                href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332093,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu"
                class="footer_address-link"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
        </div>
      </div>
      <div class="container copyright_container">
        <div class="copyright_links">
          <a href="#" class="copyright_item">Privacy Policy</a>
          <p class="copyright_item">/</p>
          <a href="#" class="copyright_item">Cookie settings</a>
        </div>
        <div class="copyright">&#169;Green Harvest 2023</div>
      </div>
    </footer>