<!-- Header section -->
<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="./header.html">
        <svg class="logo-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="logo-greenharvest" width="148" height="12">
          <use href="../img/icons.svg#icon-greenharvest"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works-id" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#section-rewiew" class="nav-link">Reviews</a>
        </li>
      </ul>
      <button class="nav-btn" type="button">Shop now</button>
    </nav>
    <button
      class="btn-open-menu"
      type="button"
      aria-label="Mobile menu open button"
      aria-labelledby="mobile-menu"
    >
      <svg class="header-menu-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile-menu is-ope" id="mobile-menu">
  <div class="mobile-menu-cont">
    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Mobile menu close button"
    >
      <svg class="mobile-menu-btn-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-nav-list">
      <li class="mobile-menu-nav-item">
        <a href="#how-it-works-id" class="mobile-menu-nav-link current"
          >How It Works</a
        >
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#vegetables" class="mobile-menu-nav-link">Vegetables</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#section-rewiew" class="mobile-menu-nav-link">Reviews</a>
      </li>
    </ul>
    <button class="mobile-menu-nav-btn" type="button">Shop now</button>
  </div>
</div>