<section class="how-it-works" id="how-it-works-id">
  <div class="how-it-works-image-container">
    <img
      class="how-it-works-image"
      srcset="
        ./img/how-it-works/how-it-works-1x.jpg 1x,
        ./img/how-it-works/how-it-works-2x.jpg 2x
      "
      src="./img/how-it-works/how-it-works-1x.jpg"
      alt="Cooking woman"
      width="335"
      height="460"
    />
  </div>
  <div class="how-it-works-text-container">
    <h1 class="how-it-works-title">
      To order your vegetable basket, simply follow these easy steps
    </h1>
    <p class="how-it-works-text"></p>
    <ol class="how-it-works-list">
      <li class="how-it-works-item">
        <p class="how-it-works-item-text">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </p>
      </li>
      <li class="how-it-works-item">
        <p class="how-it-works-item-text">
          Click on the basket and fill out the form.
        </p>
      </li>
      <li class="how-it-works-item">
        <p class="how-it-works-item-text">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </p>
      </li>
    </ol>
  </div>
</section>
