<section class="reviews">
    <div class="container container-review">
        <div class="review-block">
            <h2 class="review-titel">reviews from our<span> customers</span></h2>
            <p class="review-text">Words of our customers: impressions and opinions about the quality of our services
                and the freshness of our products.</p>
        </div>
        <ul class="review-list">
            <li class="review-item">
                <img class="review-img" srcset="../img/reviews/avatar-1.jpg 1x, ../img/reviews/avatar-1-2x.jpg 1x"
                    src="../img/reviews/avatar-1.jpg" alt="John Wax" width="56" height="56">
                <h3 class="review-subtitel">John Wax</h3>
                <p class="review-item-text">These vegetables are my secret to delicious and healthy meals. The quality
                    is always at the highest level, the aroma and taste are enchanting. I advise every fan of real
                    products!</p>
            </li>
            <li class="review-item review-none-mob review-none-tab">
                <img class="review-img" srcset="../img/reviews/avatar-2.jpg 1x, ../img/reviews/avatar-2-2x.jpg 1x"
                src="../img/reviews/avatar-2.jpg" alt="Victoria Romashenko" width="56" height="56">
                <h3 class="review-subtitel">Victoria Romashenko</h3>
                <p class="review-item-text">I love how fast and fresh the vegetables are delivered. Salads always turn
                    out so appetizing, and soups are real masterpieces. The quality is impeccable!</p>
            </li>
            <li class="review-item review-none-mob">
                <img class="review-img" srcset="../img/reviews/avatar-3.jpg 1x, ../img/reviews/avatar-3-2x.jpg 1x"
                src="../img/reviews/avatar-3.jpg" alt="Ihor Trachuk" width="56" height="56">
                <h3 class="review-subtitel">Ihor Trachuk</h3>
                <p class="review-item-text">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of
                    the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p>
            </li>
        </ul>
    </div>
</section>