<section class="content-vegetables" id="vegetables">
    <div class="container container-vegetables">
        <div class="card-block">
            <h2 class="title-vegetables">organic <span class="second-part-of-title">vegetables</span> </h2>
            <p class="text-vegetables">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        </div>
        <ul class="list-vegetables">
            <li class="card-vegetables">
                <h3 class="title-card">eggplant</h3>
                <p class="text-card">60 UAH / kg</p>
                <img src="./img/vegetables/eggplant.png" srcset="./img/vegetables/eggplant-1x.png 1x, ./img/vegetables/eggplant-2x.png 2x" alt="eggplant" width="282" height="243">
            </li>
            <li class="card-vegetables">
                <h3 class="title-card">leek</h3>
                <p class="text-card">50 UAH / kg</p>
                <img src="./img/vegetables/leek.png" srcset="./img/vegetables/leek-1x.png 1x, ./img/vegetables/leek-2x.png 2x" alt="leek" width="282" height="243">
            </li>
            <li class="card-vegetables">
                <h3 class="title-card">mushrooms</h3>
                <p class="text-card">40 UAH / kg</p>
                <img src="./img/vegetables/mushrooms.png" srcset="./img/vegetables/mushrooms-1x.png 1x, ./img/vegetables/mushrooms-2x.png 2x" alt="mushrooms" width="282" height="243">
            </li>
            <li class="card-vegetables">
                <h3 class="title-card">corn</h3>
                <p class="text-card">60 UAH / kg</p>
                <img src="./img/vegetables/corn.png" srcset="./img/vegetables/corn-1x.png 1x, ./img/vegetables/corn-2x.png 2x" alt="corn" width="282" height="243">
            </li>
            <li class="card-vegetables">
                <h3 class="title-card">sweet potatoes</h3>
                <p class="text-card">50 UAH / kg</p>
                <img src="./img/vegetables/sweet-potatoes.png" srcset="./img/vegetables/sweet-potatoes-1x.png 1x, ./img/vegetables/sweet-potatoes-2x.png 2x" alt="sweet potatoes" width="282" height="243">
            </li>
            <li class="card-vegetables">
                <h3 class="title-card">carrot</h3>
                <p class="text-card">40 UAH / kg</p>
                <img src="./img/vegetables/carrot.png" srcset="./img/vegetables/carrot-1x.png 1x, ./img/vegetables/carrot-2x.png 2x" alt="carrot" width="282" height="243">
            </li>
        </ul>
    </div>
</section>

