<section class="section Your-order">
  <div class="container Your-order_container">
    <div class="Your-order_description">
      <h3 class="Your-order_header">
        Fresh <span>Harvest</span> Box has got you covered
      </h3>
      <p class="Your-order_text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="Your-order_form-and-pic">
      <div class="form_container">
        <p>
          Ordering <span class="form-span-one">from us</span> is quick and easy!
          Fill out <span class="form-span-two">the form</span> below and we will
          contact you !
        </p>
        <form class="order-form">
          <div class="order-field">
            <input type="text" name="user-name" id="" class="order-input" placeholder="Full Name" />
          </div>
          <div class="order-field">
            <input type="text" name="user-email" id="" class="order-input" placeholder="Email" />
          </div>
          <div class="order-field-textarea">
            <textarea
              name="user-comment"
              id=""
              class="order-textarea"
              placeholder="Comment"
            ></textarea>
          </div>
          <button type="submit" class="order-send-button"></button>
        </form>
      </div>
      <div class="pic_container">
        <picture></picture>
        <p>Follow us on our social networks:</p>
        <ul class="order_social-list">
          <li class="order_social-item">
            <a href="https://www.instagram.com/goitclub/" class="social_text"
              >instagram</a
            >
          </li>
          <li class="order_social-item"><p class="social_text">/</p></li>
          <li class="order_social-item">
            <a href="https://www.facebook.com/goITclub/" class="social_text"
              >facebook</a
            >
          </li>
          <li class="order_social-item"><p class="social_text">/</p></li>
          <li class="order_social-item">
            <a href="https://www.youtube.com/c/GoIT" class="social_text"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
