.advertisement {
  background: #fbfbfb;
  padding: 80px 0;
}
.adv-div {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  display: inline-block;
}

.adv-span {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 12px;
  background: var(--background);
  padding-left: 10px;
  margin: 0 -10px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .adv-div {
    max-width: 736px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .adv-span {
    font-size: 64px;
    line-height: 1.09;
    margin: 0 -16px;
  }

  .adv-text {
    font-size: 64px;
    line-height: 1.09;
  }
}
@media screen and (min-width: 1280px) {
  .adv-div {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .adv-span {
    font-size: 76px;
    line-height: 105%;
    margin-left: -13px;
    margin-right: 5px;
    display: inline-block;
    padding: 3px 13px 5px 10px; 
    padding-left: 13px;
    padding-right: 7px;
  }

  .adv-text {
    font-size: 76px;
    line-height: 105%;
     display: inline-block; 
  }
}
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.advertising-section {
    padding: 80px 0;
}
.adv-span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-text);


    border-radius: 12px;
    height: auto;
    background: var(--background);
    padding: 3px 10px 0;
    margin: 0 -10px;
}

.adv-text {
    color: var(--text);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--text);
}

@media screen and (min-width: 768px) {
    .adv-span {
        font-size: 64px;
        line-height: 109%;
        margin: 0 -16px;
    }

    .adv-text {
        font-size: 64px;
        line-height: 109%;
    }
}

@media screen and (min-width: 1280px) {
    .adv-span {
        font-size: 76px;
        line-height: 105%;
        margin-left: -13px;
        margin-right: 0;
        display: inline-block;
    }

    .adv-text {
        font-size: 76px;
        line-height: 105%;
        display: inline-block;
    }
}
.adv_container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .adv_container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .adv_container {
    padding-left: 100px;
    padding-right: 100px;
  }
} */