.advertisement {
  background: #fbfbfb;
}
.adv-div {
  max-width: 375px;
  padding: 80px 10px;
  margin: 0 auto;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-text {
  font-size: 48px;
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
}

.adv-span {
  display: block;
  font-weight: 700;
  text-align: left;
  background-color: #576f35;
  border-radius: 12px;
  padding: 10px;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .adv-div {
    max-width: 768px;
    padding: 100px 0;
  }
  .adv-text {
    position: relative;
    left: 16px;
    max-width: 704px;
    font-size: 64px;
    letter-spacing: -0.96px;
    padding: 0 16px;
  }
  .adv-span {
    position: relative;
    right: 16px;
    bottom: -6px;
    min-width: 736px;
    font-weight: 600;
    padding: 8px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .adv-div {
    position: relative;
    left: 16px;
    max-width: 1280px;
    padding: 100px;
  }
  .adv-text {
    font-size: 76px;
    line-height: 1.05;
  }
  .adv-span {
    display: inline-block;
    padding: 16px;
    position: relative;
    right: 16px;
    bottom: -6px;
  }
}