.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
.container {
  max-width: 768px;
}
}
@media screen and (min-width: 1280px) {
.container {
  max-width: 1280px;
}
}

.advertisement { 
  width: 100%; 
}
.section{
  padding: 80px 0;
  margin: 0 auto;
}
.textdiv{
  max-width: 375px;
  margin: 0 auto;
} 

.text {
  color: #141414;
  font-family: "Inter Tight", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.04; /* 104.167% */
  letter-spacing: -0.015em;
  text-transform: uppercase;}
   

.span-p {
  color: #fbfbff;
background-color: #576F35;
margin: 0 -10px;
display: flex;
padding: 0 10px;
border-radius: 12px;

}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



@media screen and (min-width: 768px) {
  .section{
    padding: 100px 0;
  }
.textdiv{
  max-width: 768px;
  padding: 0px 32px;
}
  .span-p{
    margin: 0 -16px;
    padding: 0 16px;
  }
.text{
  font-size: 64px;
line-height: 1.09; /* 109.375% */
letter-spacing: -0.015em;
width: 704px;
}
}

@media screen and (min-width: 1280px) {

  .textdiv{
    max-width: 1280px;
    padding:0 100px;

}
.span-p{
  margin-right: 7px;
  padding: 0 13px;
  display: inline-flex;
 min-width: 808px;

}   
.text{
  width: 1054px;
  display: inline;
  padding: 0;
  font-size: 76px;
line-height: 1.05; /* 105.263% */
letter-spacing: -0.015em;
}   
}


