/* #region Header */
.header {
  background-color: #576f35;
  /* background-color: transparent; */
}
.header-container {
  position: relative;
  z-index: 10;
  width: 100%;
  /* position: fixed; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 48px;

  max-width: 375px;
  margin: 0 auto;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
.logo-icon {
  padding-right: 4px;
  box-sizing: content-box;
}

.nav-list {
  margin-left: auto;
  align-items: center;
  display: none;
}
.nav-btn {
  align-items: center;
  display: none;
}
.btn-open-menu {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
  .logo-icon {
    width: 18px;
    height: 18px;
  }
  .logo-greenharvest {
    width: 168px;
    height: 15px;
  }
  .header-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    display: block;
    padding-bottom: 0;
  }
  .header-logo {
    margin-right: auto;
    margin-left: 0px;
  }

  .nav-list {
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }
  .nav-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 101px;
    height: 44px;

    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid rgba(251, 251, 251, 0.25);
  }
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: block; */
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    min-width: 157px;
    min-height: 52px;

    background-color: #7a3145;

    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-btn:hover,
  .nav-btn:focus {
    background-color: #622133;
  }
  .btn-open-menu {
    display: none;
  }
}
/* #endregion Header */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 240px 0px 40px 0px;
  align-items: center;
  background-color: #7a3145;
  transition: transform 300ms ease-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
  transition-timing-function: ease-in;
}

.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: #7a3145;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .mobile-menu-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  /* background-color: #404bbf; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* .mobile-menu-btn:hover .mobile-menu-btn-icon,
.mobile-menu-btn:focus .mobile-menu-btn-icon {
  fill: #ffffff;
} */
.mobile-menu-nav-list {
  margin-bottom: auto;
}
.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 8px;
}
.mobile-menu-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  width: 115px;
  height: 42px;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    border: 1px solid rgba(251, 251, 251, 0.25);
  } */
.mobile-menu-nav-link.current {
  color: #7a3145;
  background: #fbfbfb;
}
.mobile-menu-nav-btn {
  display: block;
  text-align: center;
  border: none;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  background: #fbfbfb;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    /* max-width: 351px; */
    /* left: none; */
  }
}
/* #endregion Mobile menu */
