.hero-section {
  background-image: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.2) 0%,
      rgba(20, 20, 20, 0.2) 100%
    ),
    url(../img/vegetables.jpg);

  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  width: 670px;
  padding-right: 0%;
  display: inline-flex;
  background-color: var(--background);
}

.hero-container {
  padding-bottom: 50px;
  padding-top: 154px;
}

.hero-title {
  color: var(--main-text);
  font-family: 'Inter Tight', sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.hero-description {
  color: var(--main-text);

  width: 472px;
  padding-top: 128px;

  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  line-height: 20px;
}
