.how-it-works {
  background: linear-gradient(to top, #576f35 55.2%, #7a3145 44.8%);
  padding: 40px 0 80px;
}

.how-it-works-container {
  margin: 0 auto;
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.how-it-works-image-container {
  padding: 0 20px 40px;
}

.image-gradient {
  display: block;
  position: relative;
  line-height: 0;
}

.image-gradient:after {
  border-radius: 30px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.3)
  );
}

.how-it-works-image {
  width: 100%;
  border-radius: 30px;
}

.how-it-works-text-container {
  padding: 80px 20px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 374px) {
  .how-it-works-text-container {
    background-color: #576f35;
  }
}
.how-it-works-title {
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.how-it-works-span-title {
  color: rgba(251, 251, 251, 0.3);
}

.how-it-works-text {
  font-size: 14px;
  line-height: 1.29;
  max-width: 335px;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.how-it-works-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 20px;
  counter-reset: none;
}

.how-it-works-item {
  display: flex;
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  max-width: 335px;
  height: 76px;
  list-style: none;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  counter-increment: number;
}

.how-it-works-item::before {
  content: counter(number);
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 50%;
  border: 5px solid #d3bec4;
  flex-shrink: 0;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.how-it-works-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.how-it-works-item-text-span {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .how-it-works {
    background: linear-gradient(to bottom, #7a3145 54.6%, #576f35 45.4%);
    padding: 100px 0;
  }

  .how-it-works-container {
    display: flex;
    max-width: 768px;
  }

  .how-it-works-image-container {
    padding: 0 64px 100px;
  }

  .how-it-works-text-container {
    padding: 100px 159px 0;
  }

  .how-it-works-title {
    max-width: 450px;
    font-size: 32px;
  }

  .how-it-works-span-title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .how-it-works-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 450px;
    margin-bottom: 30px;
  }

  .how-it-works-item {
    max-width: 450px;
  }

  .how-it-works-item-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
  }

  .how-it-works-item-text-span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .how-it-works {
    background: linear-gradient(to left, #576f35 50.8%, #7a3145 49.2%);
    padding: 100px 0;
  }

  .how-it-works-container {
    display: flex;
    flex-direction: row;
    gap: 200px;
    max-width: 1280px;
  }

  .how-it-works-image-container {
    display: flex;
    padding: 0 0 0 100px;
  }

  .how-it-works-text-container {
    display: flex;
    padding: 0 100px 0 0;
  }
}
