.content-vegetables {
  background: #7a3145;
}
.container-vegetables {
  margin: 0 auto;
  max-width: 375px;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-block {
  max-width: 335px;
}

.title-vegetables {
  color: #fbfbfb;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.second-part-of-title {
  color: rgba(251, 251, 251, 0.3);
}

.text-vegetables {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  
}

.list-vegetables {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-vegetables {
  border-radius: 40px;
  background: #fbfbfb;
  padding: 32px 26px;
}

.title-card {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  margin-bottom: 12px;
}

.text-card {
  color: #141414;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.015em;
  margin-bottom: 14px;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 374px) {
  .title-vegetables {
    font-size: 38px;
  }
}

@media screen and (min-width: 768px) {
  .container-vegetables {
    margin: 0 auto;
    max-width: 768px;
    padding: 100px 32px;
    gap: 50px;
  }
  .card-block {
    max-width: 626px;
  }
  .title-vegetables {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .text-vegetables {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
  }

  .list-vegetables {
    flex-direction: row;
    row-gap: 28px;
    column-gap: 20px;
    flex-wrap: wrap;
  }
  .card-vegetables {
    padding: 32px 30px;
    flex-basis: calc((100% - 20px) / 2);
  }
  .text-card {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .container-vegetables {
    max-width: 1280px;
    padding: 100px;
    margin: 0 auto;
  }
  .list-vegetables {
    gap: 28px 21px;
  }
  .card-vegetables {
    padding: 32px;
    flex-basis: calc((100% - 42px) / 3);
  }
}
