.your-order {
  background: #7a3145;
  padding: 80px 0;
}
.your-order_container {
  max-width: 375px;
  margin: 0 auto;
}
.your-order_description {
  margin-bottom: 40px;
}
.your-order_header {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.your-order_span {
  color: rgba(251, 251, 251, 0.3);
}
.your-order_text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.your-order_form-and-pic {
  display: flex;
  flex-wrap: wrap;
}
.form_container {
  padding: 40px 20px;
  background-color: #fbfbfb;
  border-radius: 30px;
  margin-bottom: 20px;
}
.form-header-paragraph {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.form-span-one {
  color: #7a3145;
}
.form-span-two {
  color: #576f35;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-input {
  width: 100%;
  height: 46px;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  background: transparent;
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.28px;
  padding: 14px 16px;
}
.order-input::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.28px;
}
.order-textarea {
  padding: 14px 13px;
  width: 100%;
  height: 91px;
  border-radius: 15px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29px;
  letter-spacing: -0.28px;
  margin-bottom: 5px;
  resize: none;
}
.order-textarea::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29px;
  letter-spacing: -0.28px;
}
.order-send-button {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 30px;
  background-color: #576f35;
  color: #fbfbfb;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.21px;
}
.order-input:focus {
  border-color: #7a3145;
}

/* стилізація інпута при не валідному значенні */
.order-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

/* стилізація інпута при валідному значенні */
.order-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: #3cbc81;
}

.text-invalid {
  color: #e74a3b;
}

/* стилізація інформаційного текста при валідному значенні в інпуті */
.order-input:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.order-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.order-send-button:is(:hover, :focus) {
  border-color: brown;
}
.pic_container {
  width: 100%;
  border-radius: 30px;
  background-color: #576f35;
  padding: 40px 20px;
}
.gradient {
	display: block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
  border-radius: 15px;
  content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
  background-image: linear-gradient(rgba(20, 20, 20, 0.30), rgba(20, 20, 20, 0.30), rgba(20, 20, 20, 0.30));
}
.order_item-pic {
  width: 100%;
  border-radius: 15px;
}

.order_social-paragraph {
  color: rgba(251, 251, 251, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-top: 20px;
  margin-bottom: 14px;
}
.order_social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.social_text {
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.36px;
}
@media screen and (min-width: 768px) {
  .your-order {
    padding: 100px 0;
  }
  .your-order_container {
    max-width: 768px;
  }
  .your-order_description {
    margin-bottom: 50px;
  }
  .your-order_form-and-pic {
    margin: 0 38px;
  }
  .your-order_header {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.96px;
    margin-bottom: 25px;
  }
  .your-order_text {
    font-size: 16px;
    line-height: 1.26;
  }
  .form_container {
    padding: 50px 100px;
    margin-bottom: 25px;
  }
  .form-header-paragraph {
    margin-bottom: 50px;
  }
  .order-input {
    height: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.26;
    letter-spacing: -0.32px;
  }
  .order-input::placeholder {
    font-size: 16px;
    line-height: 1.26;
    letter-spacing: -0.32px;
  }
  .order-textarea {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 95px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
  .order-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }
  .order-send-button {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.27px;
  }
  .pic_container {
    padding: 50px;
  }
  .order_item-pic {
    margin-bottom: 50px;
  }
  .order_social-paragraph {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
  .order_social-list {
    gap: 12px;
  }
  .social_text {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.48px;
  }
}
@media screen and (min-width: 1280px) {
  .your-order {
    padding: 100px 0;
  }
  .your-order_container {
    max-width: 1280px;
  }
  .your-order_description {
    margin-bottom: 50px;
    width: 770px;
  }
  .your-order_form-and-pic {
    flex-wrap: nowrap;
    gap: 24px;
    margin: 0 0;
  }
  .form_container {
    width: calc(100% - 24px / 2);
    padding: 50px;
    margin-bottom: 0;
  }
  .order_social-paragraph {
    margin-bottom: 15px;
  }
}
